:root {
  --background-color: #FFFFFF;
  --main-text-color: #000000;
  --alt-text-color: #999;
  --nav-link-color: #FFFFFF;
  --link-text-color: #941100;
  --link-contrast-color: #FFFFFF;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000000;
    --main-text-color: #FFFFFF;
    --alt-text-color: #BBBBBB;
    --link-text-color: #FF7E79;
    --link-contrast-color: #FFFFFF;
  }
}

body {
  background-color: var(--background-color);
  color: var(--main-text-color);
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
}
hr {
  border: 0;
  height: 1px;
  background-color: var(--link-text-color);
}
#header {
  color: var(--main-text-color);
  margin: 0px;
  text-align: center;
}
#header h1 {
  font-weight: bold;
  font-size: 24pt;
  margin: 0px;
}
#header p {
  font-size: 12pt;
  color: var(--alt-text-color);
  margin: 0px;
}
#header_title {
  padding: 10px;
}
#header_title a:link {
  text-decoration: none;
  color: var(--main-text-color) 
}
#header_title a:visited {
  text-decoration: none;
  color: var(--main-text-color) 
}
#header_title a:hover {
  text-decoration: none;
  color: var(--main-text-color) 
}
#header_title a:active {
  text-decoration: none;
  color: var(--main-text-color) 
}
#nav {
  padding: 10px;
  background-color: #941100;
  text-align: center;
  font-size: 14pt;
}
#nav ul {
  padding: 0px;
  margin: 5px 0px;
}
#nav li {
  padding: 0px;
  margin: 0px 20px 0px 0px ;
  display: inline;
  list-style: none;
}
#nav a:link {
  color: var(--nav-link-color);
  text-decoration: none;
}
#nav a:visited {
  color: var(--nav-link-color);
}
#nav a:hover {
  color: var(--nav-link-color);
  text-decoration: underline;
}
#nav a:active {
  color: var(--nav-link-color);
}
#content {
  min-height: 60%;
  max-width: 800pt;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 25px;
}
#content h1 {
  text-align: center;
  font-size: 36pt;
  font-weight: bold;
}
#content h2 {
  font-size: 20pt;
  font-weight: bold;
}
#content h3 {
  font-size: 16pt;
}
#content h4, #content h5, #content p, #content li {
  font-size: 14pt;
}
#content a:link {
  color: var(--link-text-color);
  text-decoration: none;
}
#content a:visited {
  color: var(--link-text-color);
  text-decoration: none;
}
#content a:hover {
  color: var(--main-text-color);
  text-decoration: none;
}
#content a:active {
  color: var(--link-text-color);
  text-decoration: none;
}
#content img {
  display: block;
  margin-left: auto;
  margin-right: auto 
}
.articleHeader {
}
.articleFooter p {
  color: var(--alt-text-color);
  font-size: small;
}
.articleFooter .tag {
  background-color: var(--link-text-color);
  border-radius: 50px;
  margin-right: 5px;
  padding: 5px 15px;
  color: var(--background-color);
}
#footer {
  padding: 25px;
  margin: 0px;
  text-align: center;
}
#footer p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: small;
}
#footer a:link {
  color: var(--link-text-color);
}
#footer a:visited {
  color: var(--link-text-color);
}
#footer a:hover {
  color: var(--link-text-color);
}
#footer a:active {
  color: var(--link-text-color);
}

/* Form */

#content label {
  font-size: 14pt;
  text-align: right;
  width: 200px;
  float: left;
  margin: 5px;
  margin-top: 8px;
  color: #000;
}

@media (max-width: 910px) {
#content label {
    text-align: center;
    width: 100%;
  }
}

#content input {
    font-size: 14pt;
    float: left;
    border: 1px solid #CCC;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
    width: 580px;
}

@media (max-width: 910px) {
    #content input {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
}

#content input:focus { 
    outline: none;
    border-color: #CCC;
    box-shadow: 0 0 5px var(--link-text-color);
}

#content textarea {
    font-size: 14pt;
    width: 800px;
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 10px;
}

#content textarea:focus{
    outline: none;
    border-color: #CCC;
    box-shadow: 0 0 5px var(--link-text-color);
}

@media (max-width: 910px) {
#content textarea {
        width: 100%;
    }
}

#submit-button {
    color: var(--link-contrast-color);
    background-color: var(--link-text-color);
    font-size: 0;
    width: 90%;
    height: 60px;
    border: none;
    margin: 0;
    padding: 0;
    padding-left: 0px;
    padding-right: 0px;
    -webkit-appearance: none;
}

#content fieldset {
  border-width: 0px;
  margin-left: auto;
  margin-right: auto;
}

#content fieldset p {
  clear: both;
}
